@use "../abstracts/variables" as *;

/* main section */
main {
  height: 588px;

  /* hero */
  .hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    background-image: url("../../Imagenes/Placeholder.jpg");
    background-size: 960px 560px;
    background-repeat: no-repeat;
    position: relative;
  }
  .hero-conten {
    margin-top: 95px;
    background-color: #ffffff99;
    position: relative;
    bottom: 25px;
    left: 70px;
    width: 780px;
    height: 419px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    padding-left: 46px;
    padding-top: 46px;
    padding-bottom: 54px;
    padding-right: 20px;

    h1 {
      position: relative;
      font-size: 56px;
      font-family: $h1font;
      line-height: 72px;
      span {
        position: relative;
        bottom: 9px;
        left: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    p {
      font-size: 23px;
      color: #909090;
    }
  }

  .hero-list {
    margin-top: 3px;
    ul {
      width: 428px;
      height: 78px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: start;
      gap: 32px 20px;
      li {
        display: flex;
        gap: 10px;
        list-style: none;
        text-align: center;
        font-size: 15px;
      }
    }
  }

  .hero-info {
    display: flex;
    gap: 30px;
    margin-top: 35px;
    div {
      width: 512px;
      height: 240px;
      padding: 27px 96px;
      img {
        width: 60px;
        height: 60px;
      }
      h3 {
        font-weight: 400;
      }
      p {
        color: #909090;
      }
    }
  }
}
